/* ToDo: add flex-grow, flex-shrink, flex-basis, flex-flow, align-items, align-self, justify-content mixins */
/*
*   @description
*   Generates border radius for a given element
*   @example
*  .selector {
*       @include border-radius(5px);
*   }
*/
/*
*   @description
*   Generates opacity for a given element
*   @example
*  .selector {
*       @include opacity(5px);
*   }
*/
/*
*   @description
*   Generates box shadow for a given element
*   @example
*  .selector {
*       @include box-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
*   @description
*   Generates text shadow for a given element
*   @example
*  .selector {
*       @include text-shadow(5px 5px 10px 5px #aaa);
*   }
*/
/*
 * @description
 * Generates a linear gradient for a given element with a fallback color.
 * @example
 *   .selector {
 *     @include linear-gradient("to bottom", #ccc, #ddd, #bbb);
 *   }
 */
/*
 * @description
 * Generates `placeholder` content for a given element
  * @example
 *   .selector {
 *     @include x-placeholder {
 *         color: #bada55;
 *         font-weight: bold;
 *     }
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transform` for a given element
 * @example
 *   .selector {
 *     @include x-transform(rotate(1deg));
 *   }
 */
/*
 * @description
 * Generates cross-browser-compatible `transition` output for a given element.
 * @example
 *   .selector {
 *     @include x-transition(background 0.3s ease-in);
 *   }
 */
/* @import "icons/*.png"; */
/* @include all-icons-sprites; */
/* 
	* { outline: dotted 1px red;  } 
*/
/* line 5, ../sass/_reset.scss */
.line-db {
  box-shadow: 0px 0px 5px #fff inset;
}

/* line 7, ../sass/_reset.scss */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* line 11, ../sass/_reset.scss */
body,
html,
div,
header, nav,
footer,
h1, h2,
ul, li,
a, span,
p, label {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  position: relative;
}

/*box-sizing*/
/* line 36, ../sass/_reset.scss */
div {
  position: relative;
}

/* line 38, ../sass/_reset.scss */
.clearfix {
  clear: both;
}

/* line 40, ../sass/_reset.scss */
li {
  /* display: inline-block; */
}

/* line 45, ../sass/_reset.scss */
a {
  text-decoration: none;
  color: #000;
  outline: none;
}
/* line 50, ../sass/_reset.scss */
a:active, a:hover, a:focus, a:visited {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* 
html,body,section{
position: relative;
height: 100%;
width: 100%;
}
*/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 79, ../sass/_reset.scss */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 85, ../sass/_reset.scss */
.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 93, ../sass/_reset.scss */
.cf {
  *zoom: 1;
}

/* line 97, ../sass/_reset.scss */
.container {
  max-width: 1054px;
  width: 100%;
}

/* line 1, ../sass/_base.scss */
body {
  font-family: 'RockwellStd';
  font-size: 14px;
}

/* line 6, ../sass/_base.scss */
.container {
  max-width: 816px !important;
  width: 100%;
}

/* line 10, ../sass/_base.scss */
.container.bordered {
  border: 1px solid #aaaaaa;
  padding: 20px;
}

/* line 15, ../sass/_base.scss */
.btn {
  display: inline-block;
}

/* line 19, ../sass/_base.scss */
.remove-image,
.print-recipe {
  font-family: 'chunkfive';
}

/* line 24, ../sass/_base.scss */
.btn-wrapper {
  padding: 18px 0;
}

/* line 28, ../sass/_base.scss */
.remove-image {
  float: left;
  font-size: 14px;
  color: #e91e3c;
  margin-top: 18px;
}
/* line 34, ../sass/_base.scss */
.remove-image span.icon-x {
  text-align: center;
  display: inline-block;
  width: 23px;
  height: 23px;
  background-color: #e91e3c;
  color: #fff;
  font-size: 15px;
  border-radius: 13px;
  -moz-border-radius: 13px;
  -webkit-border-radius: 13px;
  margin-right: 10px;
}
/* line 48, ../sass/_base.scss */
.remove-image:active, .remove-image:hover, .remove-image:focus, .remove-image:visited {
  color: #e91e3c;
}

/* line 56, ../sass/_base.scss */
.print-recipe {
  float: right;
  width: 223px;
  font-size: 18px;
  height: 54px;
  color: #fff;
  background-image: url(../img/btn-print-bg.jpg);
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
/* line 64, ../sass/_base.scss */
.print-recipe span.icon-wrapper {
  display: inline-block;
  float: left;
  width: 30%;
  height: 100%;
  border-right: 1px solid #293799;
  text-align: center;
}
/* line 72, ../sass/_base.scss */
.print-recipe span.icon-wrapper span.icon-print {
  display: inline-block;
  background-image: url(../img/icon-print.png);
  width: 29px;
  height: 100%;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 83, ../sass/_base.scss */
.print-recipe span.caption {
  display: inline-block;
  float: right;
  width: 70%;
  height: 100%;
  text-align: center;
}
/* line 93, ../sass/_base.scss */
.print-recipe span.caption > span:before,
.print-recipe span.icon-wrapper > span:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/* line 105, ../sass/_base.scss */
.print-recipe:active, .print-recipe:hover, .print-recipe:focus, .print-recipe:visited {
  color: #fff;
}

/* line 113, ../sass/_base.scss */
.content {
  max-width: 713px;
  width: 100%;
  margin: 0 auto;
}

/* line 119, ../sass/_base.scss */
.imgholder {
  width: 713px;
  height: 256px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 127, ../sass/_base.scss */
.imgholder.active {
  display: none;
}

/* line 131, ../sass/_base.scss */
.recipe-name {
  display: inline-block;
  font-family: 'chunkfive';
  font-size: 24px;
  color: #e91e3c;
  padding: 20px 0;
}

/* line 139, ../sass/_base.scss */
table {
  float: left;
  width: 50%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-spacing: 5px;
  border-collapse: separate;
}
/* line 147, ../sass/_base.scss */
table tr th {
  font-family: 'chunkfive';
  font-size: 18px;
  text-align: left;
  border-spacing: 10px;
}

/* line 155, ../sass/_base.scss */
.container.clearpads {
  padding: 0;
}

/* line 159, ../sass/_base.scss */
.sticky-link {
  padding: 16px 0;
  font-size: 12px;
}
/* line 166, ../sass/_base.scss */
.sticky-link > a {
  font-weight: 800;
}

/* line 171, ../sass/_base.scss */
.namnam-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/namnam-footer-logo.jpg) center;
  width: 78px;
  height: 73px;
}

/* line 181, ../sass/_base.scss */
.copyright {
  margin-top: 50px;
  width: 91%;
  text-align: right;
  font-family: 'RockwellStd';
  font-size: 12px;
}

/* line 189, ../sass/_base.scss */
.head-no-pad {
  padding-left: 0px;
  padding-right: 0px;
}
