.recipe-header {
    font-size:16px;
    color: black ;
    font-family:chunkfive;
}
.true-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.preloader {
    z-index: 99;
}

.pagination .p_disabled {
    color: gray;
    display: none;
}

.sharrre .share {
   color:#FFFFFF;
   display:inline-block;
   font-size:12px;
   font-weight:bold;
   height:30px;
   line-height:30px;
   margin-top:8px;
   padding:0;
   text-align:center;
   text-decoration:none;
   width:70px;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px; 
 }
 .twitter .share {
   text-shadow: 1px 0px 0px #0077be;
   filter: dropshadow(color=#0077be, offx=1, offy=0); 
   border:1px solid #0075c5;
   display:inline-block;
   background: #26c3eb;
   background: -moz-linear-gradient(top, #26c3eb 0%, #26b3e6 50%, #00a2e1 51%, #0080d6 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#26c3eb), color-stop(50%,#26b3e6), color-stop(51%,#00a2e1), color-stop(100%,#0080d6)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* IE10+ */
   background: linear-gradient(top, #26c3eb 0%,#26b3e6 50%,#00a2e1 51%,#0080d6 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26c3eb', endColorstr='#0080d6',GradientType=0 ); /* IE6-9 */
   box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #5cd3f1 inset;
 }
 .facebook .share {
   text-shadow: 1px 0px 0px #26427e;
   filter: dropshadow(color=#26427e, offx=1, offy=0); 
   display:inline-block;
   border:1px solid #24417c;
   background: #5582c9; /* Old browsers */
   background: -moz-linear-gradient(top, #5582c9 0%, #33539a 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5582c9), color-stop(100%,#33539a)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, #5582c9 0%,#33539a 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #5582c9 0%,#33539a 100%); /* IE10+ */
   background: linear-gradient(top, #5582c9 0%,#33539a 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5582c9', endColorstr='#33539a',GradientType=0 ); /* IE6-9 */
   box-shadow: 0 1px 4px #DDDDDD, 0 1px 0 #80a1d6 inset;
 }
 
 .votes {
   font-size: 24px;
   color: #e91e3c;
   margin-left: 12px;
   font-weight: normal
 }
 
 .custom-font b {
 	font-weight: bold;
 }
 
 .custom-font i {
 	font-style: italic;
 }
