body {
  font-family: 'dejavu serif';
  font-size: 12px;
}

.imgholder {
	width: 713px;
  	height: 256px;
	background-size: cover;
  	background-position: center;
  	background-repeat: no-repeat;
}

.recipe-name {
  font-size: 22px;
  font-weight: bold;
  padding-top: 20px;
  color: #e91e3c;
}

table tr th {
  font-size: 16px;
  text-align: left;
}

.namnam-box {
  position: absolute;
  bottom: 0;
  right: 0;
  background: url(../img/namnam-footer-logo.jpg) center;
  width: 78px;
  height: 73px;
}

.copyright {
  font-size: 10px;
  bottom: 15px;
  margin-left: 290px;
  position: absolute;
}