body {
	font-family: 'RockwellStd';
	font-size: 14px;
}

.container {
	max-width: 816px !important;
	width: 100%;
}
.container.bordered {
	border:1px solid #aaaaaa;
	padding: 20px;
}

.btn {
	display: inline-block;
}

.remove-image,
.print-recipe {
	font-family: 'chunkfive';
}

.btn-wrapper{
	padding: 18px 0;
}

.remove-image {
	float: left;
	font-size: 14px;
	color: #e91e3c;
	margin-top: 18px;

	span.icon-x {
		text-align: center;
		display: inline-block;
		width: 23px;
		height: 23px;
		background-color: #e91e3c;
		color: #fff;
		font-size: 15px;
		border-radius: 13px;
		-moz-border-radius: 13px;
		-webkit-border-radius: 13px;	
		margin-right: 10px;	
	}

	&:active,
	&:hover,
	&:focus,
	&:visited {
		color: #e91e3c;
	}
}

.print-recipe {
	float: right;
	width: 223px;
	font-size: 18px;
	height: 54px;
	color: #fff;
	background-image: url(../img/btn-print-bg.jpg);

	span.icon-wrapper {
		display: inline-block;
		float: left;
		width: 30%;
		height: 100%;
		border-right:1px solid #293799;
		text-align: center;

		span.icon-print {
			display: inline-block;
			background-image: url(../img/icon-print.png);
			width: 29px;
			height: 100%;
			line-height: 18px;
			background-repeat: no-repeat;
			background-position: center;
		}
	}

	span.caption {
		display: inline-block;
		float: right;
		width: 70%;
		height: 100%;
		text-align: center;
	}

	span.caption,
	span.icon-wrapper {
		> span:before {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

	&:active,
	&:hover,
	&:focus,
	&:visited {
		color: #fff;
	}
}

.content {
	max-width: 713px;
	width: 100%;
	margin: 0 auto;
}

.imgholder {
	width: 713px;
	height: 256px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.imgholder.active {
	display: none;
}

.recipe-name {
	display: inline-block;
	font-family: 'chunkfive';
	font-size: 24px;
	color: #e91e3c;
	padding: 20px 0;
}

table {
	float: left;
	width: 50%;
	box-sizing: border-box;

	border-spacing: 5px;
		border-collapse: separate;

	tr th {
		font-family: 'chunkfive';
		font-size: 18px;
		text-align: left;
		border-spacing: 10px;
	}
}

.container.clearpads {
	padding: 0;
}

.sticky-link {
	padding: 16px 0;
	font-size: 12px;

	> span {

	}
	> a {
		font-weight: 800;		
	}
}

.namnam-box {
	position: absolute;
	bottom: 0;
	right: 0;

	background: url(../img/namnam-footer-logo.jpg) center;
	width: 78px;
	height: 73px;
}

.copyright {
	margin-top: 50px;
	width: 91%;
	text-align: right;
	font-family: 'RockwellStd';
	font-size: 12px;
}

.head-no-pad {
	padding-left: 0px;
	padding-right: 0px;
}