/* 
	* { outline: dotted 1px red;  } 
*/

.line-db{ box-shadow: 0px 0px 5px #fff inset; }

* {
box-sizing: border-box;
}

body,
html,
div,
header,nav,
footer,
h1,h2,
ul,li,
a,span,
p,label{
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
    position: relative;
}

/*box-sizing*/
div { position: relative; }

.clearfix {clear: both;}

li{
//list-style: none;
/* display: inline-block; */
}

a {
text-decoration: none;
color:#000;
outline: none;

&:active,
	&:hover,
	&:focus,
	&:visited {
		text-decoration: none;
		outline: none;
		color: inherit;
	}
}

/* 
html,body,section{
position: relative;
height: 100%;
width: 100%;
}
*/



/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container {
	max-width: 1024px + 15px + 15px;
	width: 100%;
}


